@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

main .card{
    display:grid ;
    grid-column: 1;
    grid-row: 6;
    border-color: aquamarine;
    border: 10px;
    background: #fefefe;
    gap: 1rem;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    
   }
   main .menu .logo h1{
    font-size: 20px;
   }
   
   main .card h2{
    padding: 10px;
    font-size: 25px;
     }

     main .listas{
        display: flex;
        gap: 1rem;
        padding: 10px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
     }
     body{
        background: url("https://i.gifer.com/76YM.gif");
        background-size:cover;
         heigth:100%;
         opacity:0.9;
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         display: flex;
         flex-direction: column;
         margin: 0;
         padding: 0;
         height: 100vh;
     }
     
   main .card span p{
    color: rgb(180, 182, 182);
   }
   main .card{
       display: flex;
        gap: 1rem;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        font-size:12px;
       }
       main .card h2{
           font-size:12px;
       }
       main .card p img{
           display:flex;
          justify-content: center;
           align-items: center;
           width:150px;
           heigth:150px;
       }

   @media only screen and (max-width: 600px) {
    body {
         background: url("https://i.gifer.com/76YM.gif");
        background-size:cover;
         heigth:100%;
         opacity:0.7;
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         display: flex;
         flex-direction: column;
         margin: 0;
         padding: 0;
         height: 100vh;
      }
    main .listas{
        display: flex;
        justify-content: center;
        align-items: center;
     }
 
       main .card{
       display: flex;
        gap: 1rem;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        font-size:12px;
       }
       main .card h2{
           font-size:12px;
       }
       main .card p img{
           display:flex;
          justify-content: center;
           align-items: center;
           width:150px;
           heigth:150px;
       }
       .menu .buttom .btn1{
           display:flex;
           background:white;
           border-radius:20px;
           color:black;
           font-size:15px;
       }
   }
